/* .navbar-container {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .navbar-header h1 {
    color: #333;
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .navbar-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  .navbar-menu li {
    cursor: pointer;
    color: #4CAF50;
    font-weight: bold;
  }
  
  .navbar-menu li:hover {
    color: #45a049;
  }
   */
   /* Modal Overlay - background behind the modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

/* Close Button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #e74c3c;
}

/* Content inside the modal */
.content {
  font-size: 16px;
  color: #333;
}